.navBar{
    background-color: #630000;
    width: 81px;
    height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
    box-shadow: 6px 10px 31px 0px rgba(59,53,53,0.75);
}

.navBar img:hover{
    cursor: pointer;
}