/* estilização do menu superior */

.menuSuperior {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #630000; /* ou a cor do teu header */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.455); /* opcional: sombra para destaque */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.divMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  max-width: 1200px;
  margin: 0 auto;
}

.sessaoCarousel{
    height: 100vh;
}

/* estilo do slider */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.list {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}

.item {
  min-width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  display: block;
}

.thumbnail {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
}

.thumbnail .item {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

.thumbnail .active {
  opacity: 1;
  border: 2px solid #000;
}

.buttons {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.prev, .next {
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

.sliderContainer {
  position: relative;
  overflow: hidden;
}

.textoSlider h4{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 25%;
  width: 100%;
  text-align: center;
  background-color: #f9f4e385;
  padding: 2rem;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

/* estilo cards valores*/

.cards{
    height: 60vh;
    background-color: #F9F4E3;
    color: #000;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    position: relative;
    width: 350px;
    height: 150px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    background-color: #8d4843;
    margin: 10vh;
}

.cardImg {
  width: 25%;
  height: auto;
  transition: transform 0.5s ease;
  z-index: 1;
  display: flex;
  align-self: center;
  margin-left: 35%;
}

.cardTexto, h3{
  position: absolute;
  top: 30px;
  left: 100%;
  width: 35%;
  height: 100%;
  color: var(--black);
  padding-left: 40px;
  box-sizing: border-box;
  transition: left 0.5s ease;
  z-index: 2;
  font-family: "Cinzel", serif !important;
  font-size: 2.1rem;
  font-weight: bold;
}

.card:hover .cardImg {
  transform: translateX(-100%);
}

.card:hover .cardTexto {
  left: 0;
}

.cardComplemento p{
  width: 350px;
  margin: -12vh auto 3vh auto;
  padding: 12px 16px;
  background-color: #8d4843;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 15px 15px;
  font-size: 1rem;
  color: var(--white);
  box-shadow: 0 6px 12px rgba(0,0,0,0.08);
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

/* titulo colaboradores */
.tituloS2, h5{
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
    background-color: #F9F4E3;
    color: var(--redText);
    font-size: 30px;
    font-weight: bold;
    font-family: "Cinzel", serif;
}

/* cards funcionarios */
.funcionarios {
    height: 60vh;
    background-color: #F9F4E3;
    display: flex;
    justify-content: space-between;
}

.cardFunc{
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    position: relative;
    width: 334px;
    height: 69px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    background-color: #630000ab;
    margin: 10vh;
}

.cardImgFunc {
    width: 44px;
    height: auto;
    left: 0;
    transition: transform 0.5s ease;
    z-index: 1;
    display: flex;
    align-self: center;
    margin-left: 8%;
}

 .cardTextoFunc .ttFunc {
  top: 25px;
  left: 50px;
  width: 250px;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  flex-direction: row;
  position: none;
}

/* modal estilo */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modalContent {
  background-color: #F9F4E3;
  padding: 2rem;
  border-radius: 15px;
  width: 500px;
  max-width: 95%;
  position: relative;
}

.fecharModal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.modalBody {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
}

.modalEsquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.modalFoto {
  height: 111px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.textoModal {
  background-color: #8d4843;
  padding: 10px;
  border-radius: 10px;
  font-family: "Chivo", sans-serif;
  width: 100%;
}

.modalDireita {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* estilo footer */
.contact {
  display: flex;
  padding: 40px;
  background-color: #312020; /* ou a cor desejada */
  color: white;
  gap: 40px;
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  
}

.footerLeft img {
  width: 187px;
  height: 254px;
}

.footerRight, h2, .numero, h4, .endereco{
  width: 70%;
  font-family: "Cinzel", serif;
  font-size: 15px;
  padding-top: 10px ;
  color: white;
  text-decoration: none;
}

.footerRight h2 {
    font-size: 32px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.81);
    font-weight: bold;
}
.footerRight span {
    text-decoration: underline;
    font-family: "Cinzel", serif;
}

.sociais {
    position: relative;
    top: 200px;
    height: 35px;
    gap: 10px;
    display: flex;
}